.FooterPC_footer__PwTkW {
    background-color: #e5e5e5;
    border-top: 0.75rem solid #0f62f9;
    padding: 32px 0;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK {
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #b2bac6;
}
.FooterPC_footer__PwTkW .FooterPC_bottom__iGgqM {
    text-align: center;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj {
    flex: 20% 1;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_benefit-link__ujDuT {
    flex: 20% 1;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_following-us__H2ENw {
    flex: 20% 1;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ {
    flex: 1 0;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj p:first-child {
    margin-bottom: 20px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.FooterPC_footer__PwTkW p {
    color: #5e6f88;
}
.fw-700 {
    font-weight: 700 !important;
}
.FooterPC_footer__PwTkW .FooterPC_about-content__fxS8B {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #5e6f88;
    margin-bottom: 12px;
    max-width: 210px;
}
.FooterPC_footer__PwTkW .FooterPC_about-more__aw_v5 {
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    color: #0065ff !important;
    text-decoration: underline !important;
    border: none !important;
    background: none !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: inherit !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_distributor__pQmMk {
    text-decoration: none !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_distributor__pQmMk p {
    color: #0f62f9!important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj p:first-child {
    margin-bottom: 20px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_sp-business-order__PAPNE {
    color: #5e6f88;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_sp-business-order__PAPNE p {
    margin: 2px 0 0 !important; 
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_sp-business-order__PAPNE p a {
    color: #0f62f9!important;
    text-decoration: none;
    cursor: pointer;
}
.FooterPC_footer__PwTkW .FooterPC_benefit-link__ujDuT a {
    text-decoration: none;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_distributor__pQmMk p {
    color: #0f62f9!important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_sp-business-order__PAPNE {
    color: #5e6f88;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_about-pharmacity__vjhVj .FooterPC_sp-business-order__PAPNE p a {
    color: #0f62f9!important;
    text-decoration: none;
    cursor: pointer;
}
.FooterPC_footer__PwTkW .FooterPC_benefit-link__ujDuT a {
    text-decoration: none !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_benefit-link__ujDuT p:first-child {
    margin-bottom: 20px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_following-us__H2ENw>p {
    margin-bottom: 30px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_following-us__H2ENw a {
    text-decoration: none;
    cursor: default;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_following-us__H2ENw a p {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #000;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_following-us__H2ENw a p svg {
    height: 22px !important;
    margin-right: 10px !important;
}
.cursor-point {
    cursor: pointer !important;
    
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_title__XKyz3 {
    margin-bottom: 30px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: flex-start !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 .FooterPC_download-qr-code__irVZj {
    font-size: .813rem !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4>* {
    min-height: 110px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 .FooterPC_download-qr-code__irVZj .FooterPC_qrcode__npoYd {
    width: 110px !important;
    height: 110px !important;
    padding: 8px !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 .FooterPC_download-qr-code__irVZj .FooterPC_qrcode__npoYd img {
    width: 100%;
    display: block;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 .FooterPC_download-qr-code__irVZj .FooterPC_label__RUS9S {
    margin: 15px 5px 0 !important;
    text-align: center !important;
    color: #5e6f88 !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 .FooterPC_or__By4r2 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 20px 0 30px !important;
    color: #5e6f88 !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 .FooterPC_download-store__VvtWu {
    display: flex !important;
    flex-direction: column !important;
    gap: 16px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4>* {
    min-height: 110px !important;
}
.FooterPC_footer__PwTkW .FooterPC_top__panBK .FooterPC_download-app__cQso_ .FooterPC_download-method__TGbp4 .FooterPC_download-store__VvtWu img {
    width: 160px !important;
    display: block !important;
}
.FooterPC_footer__PwTkW p {
    color: #5e6f88 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}